<center><h2> PUSHPAK </h2>
<img src="http://1000aircraftphotos.com/Contributions/Coates/2438.jpg" width="200" height="150">
</center>
<div class="page-header"><h3>Model parts</h3></div>
<div class="row">

  </div>
{{# each products}}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <div class="caption">
        <h3> {{ title }}</h3>
        <div class="clearfix">
        <div class="price">&#8377; {{ price }} </div>
        <a href="/addtop5cart/{{ this._id}}" class="btn btn-primary pull-right   " role="button">Add to cart</a>
</div>
</div>
</div>
    </div>

{{/each}}
 </div>


