<h1> Check out </h1>
<h4 id='total'> Your total : &#8377; {{ total }} </h4>
<script> var price ={{total}}+'';
         if(price.length>3){
         var lastThree = price.substring(price.length-3);
         var otherNumbers = price.substring(0,price.length-3);
         if(otherNumbers != '')
                lastThree= ',' +lastThree;
         var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g,",") + lastThree;
         document.getElementById('total').innerHTML='&#8377; '+res;}</script>


<form action="/checkout" method="post" id="checkout-form">
  Name:<br>
  <input type="text" id="name" class="form-control" required name="name">
  <br>
  Address:<br>
  <input type="text" id="address" class="form-control" required name="address">
 <input type="hidden" name="_csrf" value="{{ csrfToken }}">
<button type="submit" class="btn btn-success">Place orders </button>
</form>
