<div class="row">
<div id="success" class="alert alert-success" {{# if noMessages}}hidden{{/if}}>
{{ successMsg }}
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">HOUSE HOLD</div>
        <div class="panel-body" style="max-height: 100;"><!--<img src="http://wirakata.com/images/ONTOP_HOUSEHOLD.jpg" class="img-responsive">--></div>
         <div class="panel-footer">  <a href="/shop/prod"  class="btn btn-success btn-lg active" role="button">View Items</a>
      </div>
    </div>
   </div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">PERSONAL CARE</div>
        <div class="panel-body" style="max-height: 10;"><img src="http://renton.ciswa.org/wp-content/uploads/sites/11/2014/02/Personal-Care-and-Beauty-Products.jpg"   class="img-responsive" ></div>
        <div class="panel-footer">  <a href="/shop/pers"  class="btn btn-success btn-lg active" role="button">View Items</a>
      </div>

    </div>
      </div>

   <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">BEVARAGES</div>
        <div class="panel-body"  style="max-height: 10;"><img src="http://www.princess.com/images/ships-and-experience/food-and-dining/beverages/all_inclusive.jpg"  class="img-responsive" ></div>
        <div class="panel-footer">  <a href="/shop/bev"  class="btn btn-success btn-lg active" role="button">View Items</a>
      </div>
    </div>
</div>
   
 <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">AIRCRAFT PARTS</div>
        <div class="panel-body" style="max-height: 10;"><img src="http://rocketfin.com/flight_19_show/images/aircraft_model_kits_2.jpg" class="img-responsive" ></div>
        <div class="panel-footer">  <a href="/shop/ac"  class="btn btn-success btn-lg active" role="button">View Items</a>
      </div>
    </div>
</div>
     </div>
</div>
